<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>  
    <target name ="file" 
            xsi:type="File"
            fileName="C:\Users\ASUS\Desktop\personel\personelKayit\logs\${shortdate}.txt" archiveFileName="Minute" deleteOldFileOnStartup="true"
            layout="------------${level} (${date})-----------${newline}
${newline}
Call Site = ${callsite}${newline}
Additional Info: ${message}${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" /> 
  </rules>
</nlog>
